<%= form_for(@leisure) do |f| %>
  <% if @leisure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leisure.errors.count, "error") %> prohibited this leisure from being saved:</h2>

      <ul>
      <% @leisure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
