<p id="notice"><%= notice %></p>

<h1>Listing Leisures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leisures.each do |leisure| %>
      <tr>
        <td><%= leisure.name %></td>
        <td><%= leisure.address %></td>
        <td><%= link_to 'Show', leisure %></td>
        <td><%= link_to 'Edit', edit_leisure_path(leisure) %></td>
        <td><%= link_to 'Destroy', leisure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leisure', new_leisure_path %>
