<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leisure.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @leisure.address %>
</p>

<%= link_to 'Edit', edit_leisure_path(@leisure) %> |
<%= link_to 'Back', leisures_path %>
